@media screen and (max-width: 500px) {
  /* 画面サイズが500pxまで */
  .innner {
    width: 100%;
  }

  #navbar {
    position: absolute;
    z-index: 100;
    font-size: 1.3em;
    line-height: 2em;
  }

  h1 {
    font-weight: normal;
    color: #333;
    font-size: 1.9em;
    margin-left: 5%;
  }

  #navbar a {
    color: #333;
    font-size: 1.1em;
    margin-left: 5%;
  }
}

@media screen and (min-width: 501px) {
  /* 画面サイズが501pxから */
  .innner {
    width: 75vw;
  }

  #navbar {
    position: fixed;
    z-index: 100;
    width: 20%;
    font-size: 1.4em;
    line-height: 1.7em;
  }

  h1 {
    font-weight: normal;
    color: #333;
    font-size: 1.9em;
    margin-top: 20%;
    margin-left: 20%;
  }

  #navbar a {
    color: #333;
    font-size: 1.1em;
    margin-left: 20%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
}

a {
  text-decoration: none;
  color: #1482a0;
}

p {
  color: #666;
}

h2 {
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0.3em;
  color: #333;
  font-size: 2em;
}

h3 {
  font-weight: normal;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  color: #333;
  font-size: 1.5em;
}

li {
  color: #666;
}

/* https://www.nxworld.net/css-hover-underline-animation-examples-and-sass-mixin.html */

/* その1 */
.innner a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.innner a::after {
  position: absolute;
  bottom: 0.2em;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #1482a0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.innner a:hover::after {
  bottom: 0.2em;
  opacity: 1;
  visibility: visible;
}

/* その2 */
#navbar a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

#navbar a::after {
  position: absolute;
  bottom: 0.2em;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

#navbar a:hover::after {
  transform: scale(1, 1);
}

/* ここまで */
#contents {
  height: auto;
}

.section01 {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.section02 {
  width: 100%;
  background-color: #f28444;
}

.section03 {
  width: 100%;
  background-color: #f2a341;
}

.section04 {
  width: 100%;
  background-color: #03a6a6;
}

.section05 {
  width: 100%;
  background-color: #592e3e;
}

.box01,
.box02,
.box03 {
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 900px) {
  /* 画面サイズが900pxまで */
  .box01 {
    border-radius: 10px;
    background-color: #fff;
    padding: 0.6em 1.5em;
  }

  .flex {
    display: block;
  }

  .box02 {
    background-color: #fff;
    padding: 0.6em 1.5em;
  }

  .box03 {
    background-color: #fff;
    padding: 0.6em 1.5em;
    margin-top: 1em;
  }
}

@media screen and (min-width: 901px) {
  /* 画面サイズが901pxから */
  .box01 {
    border-radius: 10px;
    background-color: #fff;
    padding: 1em 2.5em;
  }

  .flex {
    display: flex;
  }

  .box02 {
    width: 100%;
    flex-grow: 1;
    background-color: #fff;
    padding: 0.6em 1.5em;
  }

  .box03 {
    width: 100%;
    flex-grow: 1;
    background-color: #fff;
    padding: 0.6em 1.5em;
    margin-left: 1em;
  }
}

.innnerTop {
  height: 100vh;
}

.innner {
  margin-right: 0;
  margin-left: auto;
}

.padding {
  padding: 2em 1em;
}

.footer {
  color: #999;
  text-align: right;
}

.fredoka_one {
  font-family: "Fredoka One", cursive;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.kiwi_maru {
  font-family: "Kiwi Maru", serif;
}

.text {
  line-height: 1.8em;
}

/* https://webparts.cman.jp/box/bgfade/ */
.backGround {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.backGround .bgImg {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  animation: bgAnime 16s infinite; /* 4画像 × 各4s = 16s */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes bgAnime {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  31% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
